<div class="tframe">
    <table>
        <tr>
            <td>
                <button  {{action 'transliterate' }}> Transliterate</button>
            </td>
            <td>
                <button {{ action 'clear'}}>Clear</button>
            </td>
            <td>
              {{#help-dialog enabled=false }}{{/help-dialog}}
            </td>
        </tr>
    </table>

    <p>
        Input<br>
      {{textarea rows=10 cols=80 value=raw_text key-up=(action 'transliterate')}}
    </p>
    <p>
        Output<br/>
      {{textarea rows=10 cols=80 value=cooked_text}}
    </p>

</div>
